.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ddd;
    width: 500px;
    height: 500px
}

.upload input {
    display: none;
}

.upload video {
    display: block;
    margin: 0;
}

.footer {
    background: #eee;
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    text-align: center;
}
